{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
	    <div class="error404page">
	        <div class="newcharacter404">
	            <div class="chair404"></div>
	            <div class="leftshoe404"></div>
	            <div class="rightshoe404"></div>
	            <div class="legs404"></div>
	            <div class="torso404">
	                <div class="body404"><img class="logocamiseta" src="{{ asset('img/logo.png') }}" alt="logo institut"></div>
	                <div class="leftarm404"></div>
	                <div class="rightarm404"></div>
	                <div class="head404">
	                    <div class="eyes404"></div>
	                </div>
	            </div>
	            <div class="laptop404"></div>
	        </div>
	    </div>
	    <div class="errormessage">
	        <p class="errorcode">{{status_code}}</p>
	        <p>No tens els permissos necessaris per accedir aqui.</p>
	    </div>
	</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}" />
{% endblock %}