*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('../img/back.png');
    font-family: 'Roboto Condensed', sans-serif;
}


/* Header */

header{
    height: 80px;
    background-color: #6d758a;
    padding-top: 25px;
    padding-left: 9%;
    padding-right: 9%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.logo-enllaç img{
	width: 90px;
}

.color-div{
    background-color:#3b3e47;
    height:25px;
    margin-top: -16px;
}

.color-div2{
    background-color: #515dff;
    height:5px;
    margin-bottom: 25px;
}

/* Login */

.main-title{
    margin-top: 100px;
    color: black;
    font-size: 52px;
    text-align: center;
}

.main-subtitle{
    text-align: center;
    font-style: italic;
}

.seccio-login{
    text-align: center;
    width: 430px;
    display: flex;
    margin:0px auto;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    border:1px solid #e2e2e2;
    box-shadow: 0px 0px 10px #e2e2e2;
}

.principal{
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.warning{
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

.login-google > a{
    margin: 0px auto;
}


/* Tarjeta Perfil Usuari  */
.user-info > p > span{
	font-size: 25px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	margin-right: 5px;
	color: #1e88e5;
}

.user-info > p {
	line-height: 8px;
	font-family: 'Roboto Condensed', sans-serif;
    color: #c5c5c5;
    vertical-align: center;
}

h1{
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 10px;
	color: white;
}

.profile img{
	width: 50px;
	box-shadow: 0px 0px 10px #e2e2e2;
	border-radius: 50%;
}
.profile{
	background-color: #fff;
    box-shadow: 0px 0px 10px #e2e2e2;
    width: 300px;
	display: flex;
	flex-direction: column;
	border:1px solid #e2e2e2;
	border-radius: 10px;
	margin-bottom: 25px;
}

.profile-title{
	height: 50px;
	text-align: center;
	background-color:#388e3c;
	border-radius: 10px 10px 0px 0px;

}


.profile-info{
	display:flex;
	padding: 25px;
}

.user-info{
	margin-top: 10px;
	margin-left: 25px;
	height: 25px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.buttons-profile{
    display: flex;

}

.uspage > a, .closes > a{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #fff;
    line-height: 33px;

}



.uspage{
	background-color: #717171;
    border-radius: 0px 0px 0px 10px;
    height: 35px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.uspage:hover{
    background-color: #81c784;
    transition: 1s;
}

.closes{
	background-color: #717171;
    border-radius: 0px 0px 10px 0px;
    height: 35px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.closes:hover{
    background-color: #ef9a9a;
    transition: 1s;
	
}

/*--------------------------------------*/


/* Estils menu-admin */
.menu-admin{
    align-self: center;
}


.menu-admin > nav > ul > li > a{
    text-decoration: none;
    color: white;
}

.menu-admin > nav > ul > li{
    list-style-type: none;
    display: inline;
    padding: 10px;
    background: #5e5e5e;
    border-radius: 5px;
    margin: 5px;
}


.menu-admin > nav > ul > li:hover{
    background: #7197b6;
    transition: 1s;

}

/*--------------------------------------------*/

/* Cos de pagina */
.seccio-principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px 10px;
    border:1px solid #e2e2e2;
    box-shadow: 0px 0px 10px #e2e2e2;
}

.selector{
    width: 500px;
    margin-right: 25px;
    display: inline-grid;
    grid-template-columns: 600px 300px; 
}

.seccio-principal > h1 {
    color: #1e88e5;
    margin-bottom: 25px;
}

.titol-principal{
    display: flex;
    width: 100px;
    height: 80px;
    margin-top: -36px;
}

.tab-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tab-content > input {
    
}

.titol-tab {
    color: #1e88e5;
    margin-bottom: 25px;
}

.subtitle{
    margin-bottom: 5px;
}


.modify-create > li{
    list-style-type: none;
    display: inline-block;
}

.modify-create > li > a{
    list-style-type: none;
    display: inline;
    padding: 10px;
    background: #5e5e5e;
    border-radius: 5px;
    margin: 5px;
}


.flex{
    display: flex;
}


.resposta{
    justify-content: center;
}

.mini-menu li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    background: #5e5e5e;
    border-radius: 5px;
    margin: 5px;

}

.mini-menu > li:hover{
    background-color:#7197b6;
    transition: 1s;
}

.mini-menu li > a{
    color: white;
    text-decoration: none;
}

/*--------------------------------------*/

/* Vista previa i selector d'impressio */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#copies{
    width: 25%;
    height: 50px;
    text-align: center;
    border: 0;
    border-radius: 2px;
    user-select: none;
    -moz-user-select: none;
    font-size: 25px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	color: #1e88e5;
}

canvas{
    border:1px solid #e2e2e2;
	box-shadow: 0px 0px 10px #e2e2e2;
}

.vistaprevia{
    width: 460px;
    padding:25px;
    background: #ffff;
    border-radius: 10px;
    margin: 0px 0px 10px;
    border:1px solid #e2e2e2;
    box-shadow: 0px 0px 10px #e2e2e2;

}

.counter{
    height: 2em;
}

input[type=number] { -moz-appearance:textfield; }

.selectimpresora{
    width: 580px;
    margin-right: 25px;
    padding: 25px;
    background: #ffff;
    border-radius: 10px;
    margin: 0px 0px 10px;
    border:1px solid #e2e2e2;
    box-shadow: 0px 0px 10px #e2e2e2;

}

.selecimpresora > form{
    width: 100%;
}

.selector-copies{
    justify-content: center;
    height: 50px;
}

.numeration{
    border: 0;
    width: 4%;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
    user-select: none;
    -moz-user-select: none;
    font-weight: bolder;
}

.less{
    background: #6d758a;
    font-size: 27px;
    height: 50px;
    width: 50px;
    border-radius: 10px 0px 0px 10px;
    color: #fff;
}

.plus{
    background: #6d758a;
    font-size: 27px;
    height: 50px;
    width: 50px;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
}

.impoptions{
    margin-bottom: 16px;
   
}

.extra{
    width: 100%;
}

.impoptions > label{
    width: 150px;
}

.impoptions > p{
    margin-bottom: 0px;
    width: 100px;

}

.selectimpresora ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.selectimpresora ol{
    list-style: none;
}

.selectimpresora ul li{
    text-align: center;
    margin-right: 3%;
}

.selectimpresora ul li img{
    transition: transform .2s;
}

.selectimpresora ul li img:hover{
    transform: translate(5px,2px);
}



.invisible{
    color: transparent;
}

.back{
    color: #63629b;
    font-size: 55px;
    position: fixed;
    bottom: 5%;
    right: 2%;
    -webkit-transition: transform .5s;
    user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

.back:hover{
    transform: rotate(-360deg);
}

.colormark{
    font-size: 25px;
}

.colormarkprint{
    color: #63629b;
}

/*--------------------------------------*/

/* Modal */
.insertinfo{
    
}

.missatgeimpressio{
	background-color: #fff;
    box-shadow: 0px 0px 10px #e2e2e2;
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 25px;
    position: fixed;
    left: 25%;
    right: 25%;
    top: 15%;
    bottom: 15%;
    z-index: 999;
}


.clickableback{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.exitcross{
    position: absolute;
    top: 0;
    right: 4px;
    font-size: 25px;
    color: red;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

/* Formularis */

form{
    justify-self: center;

}

.seccio-principal form label {
    display: inline-block;
    width: 150px;
}

.seccio-principal  form input {
    display: inline-block;
    width: 200px;
    margin-bottom: 10px;
}

.inputusuaris {
    width:  100%;
}

/* Tables */
table{
    justify-self: center;
}

button, .button, .submit{
    list-style-type: none;
    display: inline-block;
    color: #fff;
    padding: 10px;
    background: #5e5e5e;
    border-radius: 5px;
    margin: 5px;
}

button:hover{
    background-color:#7197b6;
    transition: 1s;
}

.button:hover{
    background-color:#7197b6;
    transition: 1s;
}

.submit:hover{
    background-color:#7197b6;
    transition: 1s;
}

td > ul > li{
    list-style: none;
}

/* adorns i demes */
hr{
    width:100%;
}