{% extends 'base.html.twig' %} {% block body %}
<div class="profile">
    <!--<div class="profile-title"><h1>Usuari</h1></div>-->
    <div class="profile-info">
        <div class="photo">
            <img src="{{ asset('img/profile.png') }}" alt="profile-image">
        </div>
        <div class="user-info">
            <p>
                <span>{{nomusuari}}</span>
            </p>
            <p>{{ email }}</p>
        </div>
    </div>
    <div class="buttons-profile">
        <div class="uspage">
            <a href="/impressio">Panell d'impressio</a>
        </div>
        <div class="closes">
            <a href="/logout">Tanca la sessió</a>
        </div>

    </div>
</div>

<div class="seccio-principal">
    <h1>Llista de Departaments detallada</h1>

    <table border="1">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nom</th>
                    <th>Planta</th>
                    <th>Copiescolor</th>
                    <th>Copiesblancinegre</th>
                    <th>Modifica</th>
                </tr>
            </thead>
            <tbody>
                {% for departament in departaments %}
                <tr>
                    <td>
                        <a href="{{ path('adminpage_departament_show', { 'id': departament.id }) }}">{{ departament.nom }}</a>
                    </td>
                    <td>{{ departament.planta }}</td>
                    <td>{{ departament.copiesColor }}</td>
                    <td>{{ departament.copiesBlancinegre }}</td>
                    <td>
                        <a href="{{ path('adminpage_departament_edit', { 'id': departament.id }) }}">Modifica</a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="mini-menu">
            <ul>
                <li>
                    <a href="{{ path('adminpage_departament_new') }}">Create a new departament</a>
                </li>
                <li>
                    <a href="{{ path('adminpage') }}">Tornar a la part d'administracio</a>
                </li>
            </ul>
        </div>
</div>
{% endblock %}