{% extends 'base.html.twig' %} {% block body %}
<div class="profile">
    <!--<div class="profile-title"><h1>Usuari</h1></div>-->
    <div class="profile-info">
        <div class="photo">
            <img src="{{ asset('img/profile.png') }}" alt="profile-image">
        </div>
        <div class="user-info">
            <p>
                <span>{{nomusuari}}</span>
            </p>
            <p>{{ email }}</p>
        </div>
    </div>
    <div class="buttons-profile">
        <div class="uspage">
            <a href="/impressio">Panell d'impressio</a>
        </div>
        <div class="closes">
            <a href="/logout">Tanca la sessió</a>
        </div>

    </div>
</div>

<div class="seccio-principal">
    <h1>Departament {{ departament.nom }}</h1>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Nom</th>
                <td>{{ departament.nom }}</td>
            </tr>
            <tr>
                <th>Planta</th>
                <td>{{ departament.planta }}</td>
            </tr>
            <tr>
                <th>Copiescolor</th>
                <td>{{ departament.copiesColor }}</td>

            </tr>
            <tr>
                <th>Copiesblancinegre</th>
                <td>{{ departament.copiesBlancinegre }}</td>

            </tr>
            <th>Id</th>
            <td>{{ departament.id }}</td>
            </tr>
    </table>
    {{ form_start(delete_form) }}
    <input type="submit" value="Esborra"> {{ form_end(delete_form) }}
    <div class="mini-menu">
        <ul>
            <li>
                <a href="{{ path('adminpage_departament_index') }}">Torna a la Llista amb detall</a>
            </li>
            <li>
                <a href="{{ path('adminpage_departament_edit', { 'id': departament.id }) }}">Modifica</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}