{% extends 'base.html.twig' %} {% block body %}

<div class="profile">
    <!--<div class="profile-title"><h1>Usuari</h1></div>-->
    <div class="profile-info">
        <div class="photo">
            <img src="{{ asset('img/profile.png') }}" alt="profile-image">
        </div>
        <div class="user-info">
            <p>
                <span>{{nomusuari}}</span>
            </p>
            <p>{{ email }}</p>
        </div>
    </div>
    <div class="buttons-profile">
        <div class="uspage">
            <a href="/impressio">Panell d'impressio</a>
        </div>
        <div class="closes">
            <a href="/logout">Tanca la sessió</a>
        </div>

    </div>
</div>

<div class="seccio-principal">


    <h1>Editar incidència</h1>

    {{ form_start(edit_form) }} {{ form_widget(edit_form) }}
    <input type="submit" value="Editar" /> {{ form_end(edit_form) }} {{ form_start(delete_form) }}
    <input type="submit" value="Eliminar"> {{ form_end(delete_form) }}

    <div class="mini-menu">
        <ul>
            <li>
                <a href="{{ path('adminpage_incidencies_index') }}">Veu-re la llista d'Incidències</a>
            </li>
            <li>
                <a href="{{ path('adminpage') }}">Tornar al panell d'Administraciò</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}