{% extends 'base.html.twig' %} {% block body %}
<div class="profile">
    <!--<div class="profile-title"><h1>Usuari</h1></div>-->
    <div class="profile-info">
        <div class="photo">
            <img src="{{ asset('img/profile.png') }}" alt="profile-image">
        </div>
        <div class="user-info">
            <p>
                <span>{{nomusuari}}</span>
            </p>
            <p>{{ email }}</p>
        </div>
    </div>
    <div class="buttons-profile">
        <div class="uspage">
            <a href="/impressio">Panell d'impressio</a>
        </div>
        <div class="closes">
            <a href="/logout">Tanca la sessió</a>
        </div>

    </div>
</div>
<div class="seccio-principal">
    <h1>Llista d'incidències</h1>
    <hr>
    <table class="table">
        <thead class="thead-dark">

            <tr>
                <th>Id</th>
                <th>Usuari</th>
                <th>Missatge</th>
                <th>Dataihora</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for incidency in incidencies %}
            <tr>
                <td>
                    <a href="{{ path('adminpage_incidencies_show', { 'id': incidency.id }) }}">{{ incidency.usuari }}</a>
                </td>
                <td>{{ incidency.missatge }}</td>
                <td>{% if incidency.dataihora %}{{ incidency.dataihora|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ incidency.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adminpage_incidencies_edit', { 'id': incidency.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mini-menu">
        <ul>
            <li>
                <a href="{{ path('adminpage_incidencies_new') }}">Crear una nova incidencia</a>
            </li>
            <li>
                <a href="{{ path('adminpage') }}">Torna al panell d'Administració</a>
            </li>
        </ul>
    </div>

</div>
{% endblock %}