{% extends 'base.html.twig' %} {% block body %}
<div class="profile">
    <!--<div class="profile-title"><h1>Usuari</h1></div>-->
    <div class="profile-info">
        <div class="photo">
            <img src="{{ asset('img/profile.png') }}" alt="profile-image">
        </div>
        <div class="user-info">
            <p>
                <span>{{nomusuari}}</span>
            </p>
            <p>{{ email }}</p>
        </div>
    </div>
    <div class="buttons-profile">
        <div class="uspage">
            <a href="/impressio">Panell d'impressio</a>
        </div>
        <div class="closes">
            <a href="/logout">Tanca la sessió</a>
        </div>

    </div>
</div>

<h1>Creacio d'incidencia</h1>

{{ form_start(form) }} {{ form_widget(form) }}
<input type="submit" value="Crear" /> {{ form_end(form) }}

<div class="mini-menu">
    <ul>
        <li>
            <a href="{{ path('adminpage_incidencies_index') }}">Tornar a la llista d'incidencies</a>
        </li>
    </ul>
</div>
{% endblock %}