{% extends 'base.html.twig' %} {% block body %}
<div class="profile">
    <!--<div class="profile-title"><h1>Usuari</h1></div>-->
    <div class="profile-info">
        <div class="photo">
            <img src="{{ asset('img/profile.png') }}" alt="profile-image">
        </div>
        <div class="user-info">
            <p>
                <span>{{nomusuari}}</span>
            </p>
            <p>{{ email }}</p>
        </div>
    </div>
    <div class="buttons-profile">
        <div class="uspage">
            <a href="/impressio">Panell d'impressio</a>
        </div>
        <div class="closes">
            <a href="/logout">Tanca la sessió</a>
        </div>

    </div>
</div>
<div class="seccio-principal">
    <h1>Incidencia</h1>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <td>{{ incidency.id }}</td>
            </tr>
            <tr>
                <th>Usuari</th>
                <td>{{ incidency.usuari }}</td>
            </tr>
            <tr>
                <th>Missatge</th>
                <td>{{ incidency.missatge }}</td>
            </tr>
            <tr>
                <th>Data i hora</th>
                <td>{% if incidency.dataihora %}{{ incidency.dataihora|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>

    </table>
    {{ form_start(delete_form) }}
    <input type="submit" value="Eliminar"> {{ form_end(delete_form) }}
    <div class="mini-menu">
        <ul>
            <li>
                <a href="{{ path('adminpage_incidencies_index') }}">Tornar a la llista d'incidencies</a>
            </li>
            <li>
                <a href="{{ path('adminpage_incidencies_edit', { 'id': incidency.id }) }}">Editar</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}