{% extends 'base.html.twig' %} {% block body %}

<div class="profile">
    <!--<div class="profile-title"><h1>Usuari</h1></div>-->
    <div class="profile-info">
        <div class="photo">
            <img src="{{ asset('img/profile.png') }}" alt="profile-image">
        </div>
        <div class="user-info">
            <p>
                <span>{{nomusuari}}</span>
            </p>
            <p>{{ email }}</p>
        </div>
    </div>
    <div class="buttons-profile">
        <div class="uspage">
            <a href="/impressio">Panell d'impressio</a>
        </div>
        <div class="closes">
            <a href="/logout">Tanca la sessió</a>
        </div>

    </div>
</div>
<div class="seccio-principal">

    <h1>Llistat d'Impresoras</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Color</th>
                <th>Id</th>
                <th>Modifica</th>
                <th>Esborra</th>
            </tr>
        </thead>
        <tbody>
            {% for impresora in impresoras %}
            <tr>
                <td>
                    <a href="{{ path('adminpage_impresoras_show', { 'id': impresora.id }) }}">{{ impresora.nom }}</a>
                </td>
                <td>{% if impresora.color %}Yes{% else %}No{% endif %}</td>
                <td>{{ impresora.id }}</td>
                <td>
                    <ul>
                        <li style="list-style-type:none;">
                            <a href="{{ path('adminpage_impresoras_edit', { 'id': impresora.id }) }}">Edita</a>
                        </li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li style="list-style-type:none;">
                            <a href="{{ path('adminpage_impresoras_delete', { 'id': impresora.id }) }}">Esborra</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mini-menu">
        <ul>
            <li>
                <a href="{{ path('adminpage_impresoras_new') }}">Introduir nova Impressora</a>
            </li>
            <li>
                <a href="{{ path('adminpage') }}">Tornar a la part d'Administracio</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}