{% extends 'base.html.twig' %} {% block body %}
<div class="profile">
    <!--<div class="profile-title"><h1>Usuari</h1></div>-->
    <div class="profile-info">
        <div class="photo">
            <img src="{{ asset('img/profile.png') }}" alt="profile-image">
        </div>
        <div class="user-info">
            <p>
                <span>{{nomusuari}}</span>
            </p>
            <p>{{ email }}</p>
        </div>
    </div>
    <div class="buttons-profile">
        <div class="uspage">
            <a href="/impressio">Panell d'impressio</a>
        </div>
        <div class="closes">
            <a href="/logout">Tanca la sessió</a>
        </div>

    </div>
</div>

<div class="seccio-principal">
    <h1>Impresora</h1>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Nom</th>
                <td>{{ impresora.nom }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{% if impresora.color %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ impresora.id }}</td>
            </tr>

    </table>
    {{ form_start(delete_form) }}
    <input type="submit" value="Esborra"> {{ form_end(delete_form) }}

    <div class="mini-menu">
        <ul>
            <li>
                <a href="{{ path('adminpage_impresoras_index') }}">Torna a la llista amb detall</a>
            </li>
            <li>
                <a href="{{ path('adminpage_impresoras_edit', { 'id': impresora.id }) }}">Modifica</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}