{% extends 'base.html.twig' %} {% block body %}
<div class="profile">
    <!--<div class="profile-title"><h1>Usuari</h1></div>-->
    <div class="profile-info">
        <div class="photo">
            <img src="{{ asset('img/profile.png') }}" alt="profile-image">
        </div>
        <div class="user-info">
            <p>
                <span>{{nomusuari}}</span>
            </p>
            <p>{{ email }}</p>
        </div>
    </div>
    <div class="buttons-profile">
        <div class="uspage">
            <a href="/impressio">Panell d'impressio</a>
        </div>
        <div class="closes">
            <a href="/logout">Tanca la sessió</a>
        </div>

    </div>
</div>

<div class="seccio-principal">
    <h1>Llista d'Usuaris</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Iddepartament</th>
                <th>Admin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for normalUser in normalUsers %}
            <tr>
                <td>
                    <a href="{{ path('adminpage_normaluser_show', { 'id': normalUser.id }) }}">{{ normalUser.id }}</a>
                </td>
                <td>{{ normalUser.nom }}</td>
                <td>{{ normalUser.email }}</td>
                <td>{{ normalUser.idDepartament }}</td>
                <td>{% if normalUser.admin %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('adminpage_normaluser_edit', { 'id': normalUser.id }) }}">Modificar</a>
 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mini-menu">
        <ul>
            <li>
                <a href="{{ path('adminpage_normaluser_new') }}">Crea un nou usuari</a>
            </li>
            <li>
                <a href="{{ path('adminpage') }}">Tornar a la part d'Administracio</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}