{% extends 'base.html.twig' %} {% block body %}
<div class="profile">
    <!--<div class="profile-title"><h1>Usuari</h1></div>-->
    <div class="profile-info">
        <div class="photo">
            <img src="{{ asset('img/profile.png') }}" alt="profile-image">
        </div>
        <div class="user-info">
            <p>
                <span>{{nomusuari}}</span>
            </p>
            <p>{{ email }}</p>
        </div>
    </div>
    <div class="buttons-profile">
        <div class="uspage">
            <a href="/impressio">Panell d'impressio</a>
        </div>
        <div class="closes">
            <a href="/logout">Tanca la sessió</a>
        </div>

    </div>
</div>
<div class="seccio-principal">
    <h1>Normaluser</h1>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <td>{{ normalUser.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ normalUser.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ normalUser.email }}</td>
            </tr>
            <tr>
                <th>Iddepartament</th>
                <td>{{ normalUser.idDepartament }}</td>
            </tr>
            <tr>
                <th>Admin</th>
                <td>{% if normalUser.admin %}Yes{% else %}No{% endif %}</td>
            </tr>
            </tbody>
    </table>
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete"> {{ form_end(delete_form) }}

    <div class="mini-menu">
        <ul>
            <li>
                <a href="{{ path('adminpage_normaluser_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('adminpage_normaluser_edit', { 'id': normalUser.id }) }}">Edit</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}