 {% extends 'base.html.twig' %} {% block body %}

<div class="login-google">
    <a href="/impressio">Tornar a la pagina d'impressió</a>
    <br>
    <br>
    <p>Acces denegat.
        <br> Contacta amb l'administrador,
        <span style="font-weight:bold">{{ mailAdmin }} </span> , per qualsevol problema
    </p>
</div>

{% endblock %} {% block javascripts %} {% endblock %}