 {% extends 'base.html.twig' %} {% block body %}

 <div class="principal">
        <img src="{{asset('img/PrincipalLogo.png')}}" alt="Imatge principal">
</div>
<h3 class="main-subtitle">Print easy, print secure, but always print...</h3>
<div class="seccio-login">
        <div class="login-google">
            <label>Inicia amb google</label>
            <a href="/connect/googleplus">
                <img src="{{asset('img/googleb.png')}}">
            </a>
        </div>

</div>

{% if is_granted('ROLE_ADMIN') %} {% if is_granted('ROLE_USER') %}
<script type="text/javascript">
    location.replace("{{ path('impressio') }}");
</script>
{% endif %} {% endif %} {% endblock %} {% block javascripts %} {{ parent() }}
<script src="{{ asset('js/dropzone.js') }}"></script>
{% endblock %}