 {% extends 'base.html.twig' %} {% block body %}

<div class="seccio-login">
        <div class="warning">
                <img src="{{asset('img/warning.png')}}" alt="Warning">
        </div>
        <h3>No et trobes al sistema</h3>
        <div class="login-google">
                <a href="/logout">Tornar a la pagina d'inici</a>
                <br>
                <br>
                <p>No et trobes al sistema, contacta amb l'administrador <span style="font-weight:bold">{{ mailAdmin }} </span> per qualsevol problema
                </p>
        </div>
</div>

{% endblock %} {% block javascripts %} {% endblock %}