{% extends 'base.html.twig' %} {% block body %}

<!--Profile -->
<div class="profile">
	<!--<div class="profile-title"><h1>Usuari</h1></div>-->
	<div class="profile-info">
		<div class="photo">
			<img src="{{ asset('img/profile.png') }}" alt="profile-image">
		</div>
		<div class="user-info">
			<p>
				<span>{{nom}}</span>
			</p>
			<p id="userinfo" data-iduser={{idUser}} data-dept={{departament}}>{{ email_usuari }}</p>
		</div>
	</div>
	<div class="buttons-profile">
		{% for user in users %} {% if (user.nom == (usuari)) and (user.admin == 1) %}
		<div class="uspage">
			<a href="/adminpage">Area Administracio</a>
		</div>
		<div class="closes">
			<a href="/logout">Tancar sessió</a>
		</div>
		{% elseif (user.nom == (usuari)) and (user.admin == 0) %}
		<div class="uspage">
			<a href="/userpage">Area Personal</a>
		</div>
		<div class="closes">
			<a href="/logout">Tancar sessió</a>
		</div>
		{% endif %} {% endfor %}
	</div>
</div>

<div id="fase1">

	<div class="form-group">
		<label class="col-sm-2 control-label required" for=""></label>
		<div class="col-sm-12">
			<div class="dropzone"></div>
		</div>
	</div>

</div>


<div id="fase2" class=" relative selector">

	<span id="back" class="back">&#8634</span>
	<div class="selectimpresora">
		<p class="subtitle">Copies disponibles</p>
		<hr>
		<ul>
			<li class="colormark">&#9673 &#8594
				<span class="gran">{{copiesBlancNegre}}</span>
			</li>
			<li class="colormark">
				<span class="colormarkprint">&#9673 &#8594</span>
				<span class="gran">{{copiesColor}}</span>
			</li>
		</ul>

		<p class="subtitle">Selector de copies</p>
		<hr>
		<form>

			<div class="flex counter selector-copies">
				<div class="numeration less"><</div>
				<input id="copies" type="number" disabled="disabled" name="copias" value="1">
				<div class="numeration plus">></div>
			</div>
		</form>

			<p class="subtitle">Opcions d'impressió</p>
			<div class="flex impoptions">
				<table class="table">
					<tr>
						<td>
							<input id="color" type="checkbox" name="color" value="color">
						</td>
						<td>
							<p>Color</p>
						</td>
					</tr>
					<tr>
						<td>
							<input id="cares" type="checkbox" name="doble" value="doble">
						</td>
						<td>
							<p>Doble cara</p>
						</td>
					</tr>
					<tr>
						<td>
							<input id="orientacio" type="checkbox" name="horitzontal" value="horitzontal">
						</td>
						<td>
							<p id="oriText">Horitzontal</p>
						</td>
					</tr>
				</table>
			</div>
		</form>

		<p class="subtitle">Sel·lecciona impressora</p>
		<hr>
		<ul class="negre">
			{% for i in 0..limitblancinegre-1 %}
			<li id="impressora">
				<img src="{{ asset('img/impresora.png') }}" alt="Icono de impresora">
				<div data-id={{idBlancNegre[i]}}>{{blancinegre[i]}}</div>
			</li>
			{% endfor %}
		</ul>
		<ul class="color">
			{% for i in 0..limitcolor-1 %}
			<li id="impressora">
				<img src="{{ asset('img/impresoracolor.png') }}" alt="Icono de impresora">
				<div data-id={{idColor[i]}}>{{color[i]}}</div>
			</li>
			{% endfor %}
		</ul>
	</div>

	<div id="pdf-main-container" class="vistaprevia">
		<div id="pdf-loader">Carregant document ...</div>
		<div id="pdf-contents">
			<div id="pdf-meta">
				<div id="pdf-buttons">
					<button id="pdf-prev">Anterior</button>
					<button id="pdf-next">Següent</button>
				</div>
				<div id="page-count-container">Pàgina
					<span id="pdf-current-page"></span> de
					<span id="pdf-total-pages"></span>
				</div>
			</div>
			<canvas id="pdf-canvas" width="400"></canvas>
			<div id="page-loader">Carregant pàgina ...</div>
		</div>
	</div>
</div>

<div id="redo"></div>
<div id="fase3">
	<span id="insertinfo"></span>
	<span id='redocross' class="invisible">&#10005</span>
</div>




{% if not is_granted('ROLE_ADMIN') %} {% if not is_granted('ROLE_USER') %}
<script type="text/javascript">
	location.replace("{{ path('homepage') }}");
</script>
{% endif %} {% endif %} {% endblock %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/dropzone.css') }}"> {% endblock %} {% block javascripts %} {{ parent() }}
<script>
	$("#fase2").hide();
	// init,configure dropzone
	Dropzone.autoDiscover = false;
	var dropzone_default = new Dropzone(".dropzone", {
		url: "{{ path('fileuploadhandler') }}",
		maxFiles: 1,
		acceptedFiles: ".pdf",
		dictMaxFilesExceeded: 'Only 1 File can be uploaded',
		maxFilesize: 3, // in Mb
		addRemoveLinks: true,
		init: function () {
			this.on("maxfilesexceeded", function (file) {
				this.removeFile(file);
			});
			this.on("sending", function (file, xhr, formData) {
				// send additional data with the file as POST data if needed.
				// formData.append("key", "value");
			});
			this.on("success", function (file, response) {
				if (response.uploaded)
					console.log('El archivo ' + response.realFileName + ' se ha guardado en: uploads/' + response.fileName);
				ajax(response.fileName, response.realFileName);
			});
		}
	});
</script>
<script src="{{ asset('js/txt.js') }}"></script>

{% endblock %}