{% extends 'base.html.twig' %} {% block body %}

<div class="profile">
    <!--<div class="profile-title"><h1>Usuari</h1></div>-->
    <div class="profile-info">
        <div class="photo">
            <img src="{{ asset('img/profile.png') }}" alt="profile-image">
        </div>
        <div class="user-info">
            <p>
                <span>{{nomusuari}}</span>
            </p>
            <p>{{ email }}</p>
        </div>
    </div>
    <div class="buttons-profile">
        <div class="uspage">
            <a href="/impressio">Panell d'impressio</a>
        </div>
        <div class="closes">
            <a href="/logout">Tanca la sessió</a>
        </div>

    </div>
</div>

<div class="seccio-principal">
    <div class="menu-admin" id="menu">
        <nav>
            <ul class="tabs">
                <li>
                    <a href="#page1">Quotes
                        <img src="./img/quotes.png" alt="Quotes">
                    </a>
                </li>
                <li>
                    <a href="#page2">Historic
                        <img src="./img/history.png" alt="Historic">
                    </a>
                </li>
                <li>
                    <a href="#page3">Incidències
                        <img src="./img/incid.png" alt="Quotes">
                    </a>
                </li>
                {#<li>
                    <a href="#page5">Impressores
                        <img src="./img/impressor.png" alt="Quotes">
                    </a>
                </li>
                #}
            </ul>
        </nav>
    </div>
    <div id="resposta" class="resposta">
        <div id="page1" class="tab-content">
            <h3 class="titol-tab">Quotes</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Departament</th>
                        <th>Copies Color</th>
                        <th>Copies B/N</th>
                    </tr>
                    {% for depart in departament %}
                    <tr>
                        <td>{{depart.nom}}</td>
                        <td>{{depart.copiesColor}}</td>
                        <td>{{depart.copiesBlancinegre}}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
        <div id="page2" class="tab-content">
            <h3 class="titol-tab">Historic</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Nom Usuari</th>
                        <th>Nom de Fitxer</th>
                        <th>Data i Hora </th>
                    </tr>
                    {% for hist in historic %}
                        {% if hist.username==nomusuari %}
                        <tr>
                            <td>{{hist.username}}</td>
                            <td>{{hist.nom_fitxer}}</td>
                            <td>{{hist.dataihora|date('d-M-Y H:i')}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
            </table>


        </div>
        <div id="page3" class="tab-content">
            <h3 class="titol-tab">Incidències</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Missatge</th>
                        <th>Data i Hora </th>
                        {% for inc in incidencies %}
                        <tr>
                            <td>{{inc.Missatge}}</td>
                            <td>{{inc.dataihora|date('d-M-Y H:i')}}</td>
                        </tr>
                        {% endfor %}


            </table>
            <h4>Envia una Incidència</h4>
            {#formulario de usuario de incidencias#}
            <div id="form_incidencias">
                {{ form_start(form) }} {{ form_widget(form) }}
                <input type="submit" value="Crear incidència" /> {{ form_end(form) }}
            </div>


        </div>
    </div>
</div>

{#{{ form_start(form) }}#} {#{{ form_widget(form) }}#} {#{{ form_end(form) }}#} {% endblock %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/dropzone.css') }}"> {% endblock %} {% block javascripts %} {{ parent() }}
<script src="{{ asset('js/scripts-admin.js') }}"></script>

{% endblock %}