{% extends 'base.html.twig' %}


{% block body %}

    <div class="profile">
        <!--<div class="profile-title"><h1>Usuari</h1></div>-->
        <div class="profile-info">
            <div class="photo"><img src="{{ asset('img/profile.png') }}" alt="profile-image"></div>
            <div class="user-info">
                <p><span>{{nomusuari}}</span></p>
                <p>{{ email }}</p>
            </div>
        </div>
        <div class="buttons-profile">
                    <div class="uspage"><a href="/impressio">Panell d'impressio</a></div>
                    <div class="closes"><a href="/logout">Tanca la sessió</a></div>
         
        </div>
    </div>

     <div class="seccio-principal">
        <div class="menu-admin" id="menu">
            <nav>
                <ul class="tabs">
                    <li> <a href="#page1">Quotes  <img src="./img/quotes.png" alt="Quotes"></a></li>
                    <li><a href="#page2">Historic  <img src="./img/history.png" alt="Historic"></a></li>
                    <li><a href="#page3">Incidències   <img src="./img/incid.png" alt="Quotes"></a></li>
                    <li><a href="#page4">Càrrega d'usuaris  <img src="./img/users.png" alt="Quotes"></a></li>
                    <li><a href="#page5">Llistat Impressores  <img src="./img/impressor.png" alt="Quotes"></a></li>
                </ul>
            </nav>
        </div>
        <div id="resposta" class="container">
            <div id="page1" class="tab-content">
                <h3 class="titol-tab">Quotes</h3>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Departament</th><th>Copies Color</th><th>Copies B/N</th>
                    </tr>
                    {% for depart in departament %}
                        <tr>
                            <td>{{depart.nom}}</td><td>{{depart.copiesColor}}</td><td>{{depart.copiesBlancinegre}}</td>
                        </tr>                    
                    {% endfor %}
                </table>
                <div class="mini-menu">
                    <li>
                        <a href="/adminpage/departament/new">Crea un nou Departament</a>
                    </li>
                    <li>
                        <a href="/adminpage/departament/">Modificar Departament</a>
                    </li>
                </div>
            </div>
            <div id="page2" class="tab-content">
                <h3 class="titol-tab">Historic</h3>

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Nom Usuari</th>
                        <th>Nom de Fitxer</th>
                        <th>Data i Hora </th>
                    </tr>
                    {% for hist in historic %}
                            <tr>
                                <td>{{hist.username}}</td>
                                <td>{{hist.nom_fitxer}}</td>
                                <td>{{hist.dataihora|date('d-M-Y H:i')}}</td>
                            </tr>
                    {% endfor %}
                </table>
            
            </div>
            <div id="page3" class="tab-content">
                <h3 class="titol-tab">Incidències</h3>
                <table class="table">
                        <thead class="thead-dark">
                    <tr>
                        <th>Nom Usuari</th>
                        <th>Missatge</th>
                        <th>Data i Hora </th>
                        <th>Editar</th>
                    </tr>
                    {% for inc in incidencies %}
                    <tr>
                        <td>{{inc.Usuari}}</td>
                        <td>{{inc.Missatge}}</td>
                        <td>{{inc.dataihora|date('d-M-Y H:i')}}</td>
                        <td><a href="/adminpage/incidencies/{{ inc.id }}/edit">Editar</a></td>
                    </tr>
                    {% endfor %}
                </table>
            
            
            </div>
            <div id="page4" class="tab-content">
                <h3 class="titol-tab">Càrrega d'usuaris</h3>
                <div id="emailsañadidos" class="left">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                    <textarea id="insercioIndividual" class="inputusuaris"></textarea>
                    <p id="error"></p>
                    <button id="submitEmails">Comprova</button>
                    <ul></ul>
                </div>
                <div>
                    <select id="depart">
                        {% for depart in departament %}
                            <option value="{{depart.nom}}">{{depart.nom}}</option>
                        {% endfor %}
                    </select>
                    <button id="submit" type="submit">Afegeix</button>
                </div>
                <a href="/adminpage/normaluser/">Modificar Usuaris</a>
            </div>
            <div id="page5" class="tab-content">
                <h3 class="titol-tab">Llistat d'mpressores</h3>
                    <table class="table">
                            <thead class="thead-dark">
                    <tr>
                        <th>Nom</th>
                        <th>Tipus</th>
                        
                    </tr>
                    {% for imp in impresor %}
                    <tr>
                        <td>{{imp.nom}}</td>
                        {% if imp.color == true %}
                            <td>Color</td>
                        {% else %}
                            <td>B/N</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                   
                </table>
                <div class="mini-menu">
                <ul>
                   <li><a href="/adminpage/impresoras/new">Introdueix una impressora nova</a></li>
                   <li><a href="/adminpage/impresoras/">Modificar Impressora existent</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dropzone.css') }}">
    <link rel="stylesheet" href="{{ asset('css/adminPage.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/scripts-admin.js') }}"></script>
    <script src="{{ asset('js/cargaUser.js') }}"></script>
  
{% endblock %}
