<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}IAMPrint Print Secure{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"> 
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('css/estils.css') }}">
</head>

<body>
    <header class="containerfluid titol">
        <div class="titol-principal"><img src="{{asset('img/PrincipalLogo.png')}}" alt="Imatge principal"></div>
        <div class="logo-enllaç">
            <img src="{{ asset('img/logo.png') }}" alt="logo institut">
        </div>
    </header>
    <div class="color-div"></div>
    <div class="color-div2"></div>
    
    <div id="contentajax" class="container">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/dropzone.js') }}"></script>
        <script src="{{ asset('js/ajax.js') }}"></script>
        <script src="{{ asset('js/pdf.js') }}"></script>
        <script src="{{ asset('js/pdf.worker.js') }}"></script>
        <script src="{{ asset('js/pdfviewermod.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}
</body>

</html>